@import "./mixins";

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.sp-view {
    @include respond(xs) {
      padding: 0;
      width: 100%;
    }
  }

  .card {
    width: 100%;
    margin-top: 0;
    @include respond(xs) {
      border-radius: 0;
      border: 0;
    }

    @include respond(sm) {
      width: 350px;
      border-radius: 15px;
      padding-bottom: 15px;
      margin-top: 3rem;
    }
  }

  .adiv {
    background: var(--chat-color);
    font-size: 16px;
    border: 1px solid transparent;
    @include respond(sm) {
      border-radius: 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .count-member {
      font-size: 12px;
    }
  }

  .chat-card {
    img {
      width: 50px;
      height: 50px;
    }

    .send-wrap {
      position: relative;
      border: 1px solid #e7e7e9;
      border-radius: 30px;
      margin: 0 10px;

      input {
        border: none;
        background-color: transparent;
        width: 100%;
        max-height: 100%;
        line-break: auto;
        color: rgba(113, 128, 150, 1);
        padding: 15px;
        font-size: 13px;
        &::placeholder {
          font-size: 13px;
          color: var(--text-color);
        }
      }
      button {
        position: absolute;
        right: 4px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 35px;
        height: 35px;
        border: 0;
        border-radius: 50%;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: var(--chat-color);
          width: 25px;
          height: 25px;
        }
      }
    }

    .chat-card-body {
      height: calc(100vh - 140px);
      @include respond(sm) {
        height: calc(450px - (45px + 70px));
      }
      .message-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          display: none;
        }
        button {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      .welcome {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-size: 12px;
        }
      }
    }

    .rounded {
      font-size: 13px;
      border: none;

      .chat {
        border-radius: 20px;
        max-width: 400px;
        padding: 5px 15px;

        &.you {
          border-bottom-right-radius: 0;
        }

        &.other {
          border-bottom-left-radius: 0;
        }

        .author {
          font-weight: 600;
        }

        .time {
          font-size: 12px;
        }
      }

      &.you {
        .chat {
          color: var(--white-color);
          background-color: var(--chat-color);
        }
      }

      &.other {
        .chat {
          color: var(--text-color);
          background-color: var(--other-chat-color);
        }
      }

      .img-wrap {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }

  .myvideo img {
    border-radius: 20px;
  }

  .dot {
    font-weight: bold;
  }

  .form-control:focus {
    box-shadow: none;
  }
}
