body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --text-color: #989898;
  --white-color: #ffffff;
  --primary-color: #04cb28;
  --chat-color: rgb(49, 130, 206);
  --other-chat-color: #efefef;
}

@import "./grid";
@import "./mixins";
@import "./chat";
